<div style="background-color: #00ff18; padding-top:4em; padding-bottom:2em;">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-xs-12">
        <div class="profile-sidebar">
        <!-- SIDEBAR USERPIC -->

          <!-- END SIDEBAR USERPIC -->
          <!-- SIDEBAR USER TITLE -->
          <div class="profile-usertitle">
            <div class="row">
              <div class="col-md-12 col-xs-12">
               <center> <%= image_tag("1.jpg", class: "img-responsive img-circle", style:"width:230px; height:230px;") %>
               </center>
              </div>

              <div class="col-md-12 col-xs-12">
               <center>
                   <br>
                 <div class="profile-usertitle-name">
                Syed Umair Ali
                 </div>
               </center>
              </div>
              <div class="col-md-12 col-xs-12">
               <center>
                   <div class="profile-usertitle-job">
                      Customer id: 1234
                   </div>
               </center>
              </div>
              <div class="col-md-12 col-xs-12">
               <center>
                   <div class="profile-usertitle-job">
                      Tickets Purchased: 12345
                   </div>
               </center>
              </div>
            </div>
            <hr>
          </div>
          <!-- END SIDEBAR BUTTONS -->
          <!-- SIDEBAR MENU -->
          <div class="profile-usermenu">
            <ul class="nav">
              <li class="active">
                <a href="#"  style="font-size:15px;">
                <i class="glyphicon glyphicon-dashboard"></i>
                Dashboard </a>
              </li>
              <li >
                <a href="#"  style="font-size:15px;">
                <i class="glyphicon glyphicon-record"></i>
                My Products </a>
              </li>
              <li>
                <%= link_to new_product_path, style:"font-size:15px;" do  %>
                  <i class="glyphicon glyphicon-plus-sign"></i> Add Product
                <% end %>
              </li>
              <li>
                <a href="#"  style="font-size:15px;">
                <i class="glyphicon glyphicon-user"></i>
                My Profile </a>
              </li>
              <li>
                <a href="#" target="_blank"  style="font-size:15px;">
                <i class="glyphicon glyphicon-credit-card"></i>
                 My Wallet </a>
              </li>
              <li>
                <a href="#"  style="font-size:15px;">
                <i class=" glyphicon glyphicon-transfer"></i>
                 Wallet Credit Transfer </a>
              </li>
              <li>
                <a href="#"  style="font-size:15px;">
                <i class="glyphicon glyphicon-share"></i>
                Rewards Points</a>
              </li>
              <li>
                <a href="#"  style="font-size:15px;">
                <i class="glyphicon glyphicon-eye-open"></i>
                Watch List </a>
              </li>
              <li>
                <a href="#"  style="font-size:15px;">
                <i class="glyphicon glyphicon-gift"></i>
                Prize Redemption</a>
              </li>
              <li>
                <a href="#"  style="font-size:15px;">
                <i class="glyphicon glyphicon-time"></i>
                 Draw History</a>
              </li>
              <li>
                <a href="#"  style="font-size:15px;">
                <i class=" glyphicon glyphicon-folder-open"></i>
                 Play History</a>
              </li>
              <li>
                <a href="#"  style="font-size:15px;">
                <i class="glyphicon glyphicon-bell"></i>
                 Notifications</a>
              </li>
              <li>
                <a href="#"  style="font-size:15px;">
                <i class="glyphicon glyphicon-flag"></i>
                Help </a>
              </li>

              <li>
                <br>
                <a href="#"  style="font-size:15px;">
                <i class=" 	glyphicon glyphicon-log-out"></i>
                LOGOUT </a>
              </li>
            </ul>
          </div>
          <!-- END MENU -->
        </div>
      </div>
      <div class="col-md-8 col-xs-12">
        <div class="row" >
          <div class="col-md-6 col-xs-12" style="background-color:#465840; height: 250px;">

          </div>
          <div class="col-md-1">

          </div>
          <div class="col-md-5 col-xs-12" style="background-color:#998360;  height: 250px;">

          </div>
        </div>
      </div>
    </div>
  </div>

</div>
