.main_bg {
  background: url('wallpaper.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}
.btn-success.btn-outline {
    color: #5cb85c;
}
.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,{
    color: #fff;
}
.signup{
   margin-top: 10px;
   border: 2px solid white;
   font-weight: bold;
}
.login{
  margin-top: 10px;
  margin-right: 5px;
  border: 2px solid white;
  font-weight: bold;
}
.my_nav_bar_row{
  margin-left: 0.1em;
  margin-right: 0.1em;
}
.my_nav_bar{
  background: yellow;
}
.my_nav_bar > li{
  width: 100%;
  background: red;
  border: solid 3px #333;
}
.my_nav_bar > li:hover{
  background: white;
  color: black;
}
#notice_wrapper{
  top: 0;
  width: 100%;
  z-index: 999;
  .app_alert, .app_notice{
    padding: 0.6em 0;text-align: center;margin: 0;font-size: 1.2em;font-weight: 700;color: #FFFFFF;letter-spacing: 1px;
    text-transform: uppercase;
  }
}
.my_alert{
  background: rgba(241, 148, 138, 0.8);border-style: solid;border-color: #A93226;border-radius: 5px;
}
.my_notice{
  background: rgba(48, 110, 255, 0.8);border-style: solid;border-color: #2B65EC;border-radius: 5px;
}
.shared-links a{
  background-color:#2B65EC;box-shadow:0 0 5px rgba(0,0,0,0.12);border:1px solid #0000A0;margin:0;
  padding:8px 0;position:relative;width:100%;display:block;color:#F0F0F0;margin-bottom: -1.49em;
  font-weight:bold;font-family: 'Merriweather', serif;cursor: default;
}
.shared-links a:hover{
  background-color:#F0F0F0;text-decoration:none;color:#0000A0;
  cursor: pointer;text-decoration:none;
}
.shared-links a:focus{
  box-shadow:0 0 5px rgba(0,0,0,0.12) inset
}

.login_signup_heading{
  background: #0041C2;border-top-right-radius: 1em;border-top-left-radius: 1em;
}
.login_signup_panel{
  border: 2px solid;border-radius: 1em;border-color: #0041C2;padding-left: 3em;padding-right: 3em;padding-top: 0px;padding-bottom: 1em;
}
.login_signup_label{
  //color: #306EFF;
  color:#FFFFFF;font-weight:bold;font-family: 'Merriweather', serif;cursor: default;float: left;text-align: left;
  margin-top: 0.7em;font-size: 1em;
}
.login_signup_label:hover{
  cursor: pointer;
}
.my_text_field{
  font-weight:bold;font-family: 'Merriweather', serif;color: #0041C2;//#306EFF;
}
.remember_label{
  color: #FFFFFF;font-weight:bold;font-family: 'Merriweather', serif;cursor: default;
}
.heading_text{
  color: #F0F0F0; font-weight:bold;font-family: 'Merriweather', serif;
}
.square {
  width: 45px;
  height: 45px;
  border: solid 1px #000000;
}
.rectangle{
  width: 316px;
  height: 54px;
  border: solid 1px 	#0000FF;
}
.price_field
{
  margin-top: 0.4em;
  height: 40px;
}
.cart_button
{
    background-color: #2B60DE; /* Green */
    border: none;
    color: white;
    width: 120%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border: 0px solid #008CBA;
}
.cart_button:hover{
   background-color:  #0000FF;
   color: white;

}

/* User Dashboard Side Navbar */
/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}

.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}
