<div class="col-md-12 col-xs-12">
  <div class="row">
    <div class="form-group col-md-3 col-xs-12 nested-fields">
      <%= c.label :value, "Feature's Value", class: "my_label" %>
      <br>
      <%= c.text_field :value, autofocus: true, placeholder: "Enter feature's value",class: 'form-control my_text_field', required: true %>
    </div>
  </div>
</div>
